.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input {
        padding: 3px;
        font-size: 18px;
        font-weight: 100;
        border: none;
        outline: none;
        margin-bottom: 5px;
        background-color: #42494f;
        color: rgb(199, 199, 199);
        width: calc(100% - 6px);
        cursor: pointer;

        &:hover {
            background-color: #212427;
        }

        &::placeholder {
            color: rgb(199, 199, 199);
        }
    }

    select {
        padding: 2px 0;
        font-size: 18px;
        font-weight: 100;
        border: none;
        outline: none;
        background-color: #42494f;
        color: rgb(199, 199, 199);
        width: 100%;
        margin-bottom: 5px;
        cursor: pointer;

        &:hover {
            background-color: #212427;
        }
    }

}