//pagrindiniai konteineriu aprasymai

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    color: #42494f;

    h2 {
        font-weight: 700;
        font-size: 25px;
        color: #42494f;
        text-transform: uppercase;
        letter-spacing: 1.5em;
    }

    .bin {
        width: 100%;
    }

    @media (min-width: 1024px) {
        .bin {
            width: 50%;
        }
    }

    .card {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .top {
            font-size: 20px;
            font-weight: 400;
            color: #48cac0;
            letter-spacing: 2px;
            width: calc(100% - 45px);
            text-align: center;
        }

        .body {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            background-color: #2e3136;
            font-size: 20px;
            color: rgb(199, 199, 199);
            text-align: left;
            width: calc(100% - 46px);
        }

        .footer {
            position: fixed;
            bottom: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .left-footer {
                padding-right: 50px;

                >label {
                    color: rgb(199, 199, 199);
                    padding-right: 15px;
                }
            }

            .right-footer {
                display: flex;
                margin-right: px;

                ul {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    list-style-type: none;
                    color: rgb(199, 199, 199);
                    padding: 0 30px;

                    .current-page {
                        color: #b3c963;
                        font-size: 24px;
                        border-bottom: 1px solid #b3c963;
                        margin: 0 10px;
                    }
                }

                >button {
                    background-color: transparent;
                    color: rgb(199, 199, 199);
                    font-size: 30px;
                }
            }
        }
    }
}