.table {
    width: 100%;
    border-collapse: collapse;


    thead {
        color: #f5d376;
        text-transform: uppercase;
        font-size: 20px;


        tr {
            th {
                border-bottom: solid 2px #42494f;
                font-weight: 400;
            }
        }
    }



    tbody {
        color: rgb(199, 199, 199);
        font-size: 18px;

        tr {
            td {
                font-weight: 400;
                border-bottom: solid 1px #42494f;
            }

            td:last-child {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    input[type=checkbox] {
        accent-color: #f5d376;
    }
}